<!DOCTYPE html>
<html>
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Frontpage</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" href="d&d.ico">
    <link rel="manifest" href="adventurers.webmanifest">
    <script src="app.js" defer>
    </script>
    </head>
    <header>
        <div class="title">
                <h1>Dungeons and Dragons Hero's Guild</h1>
                <h2><a href="/about">About</a></h2>
                <h3><a href="/index">Charcters</a></h3>
                <h4><a href="">Home</a></h4>
                </div>
            </header>
    <body>
        <img src="/images/party.jpg" alt="Party" style="display:block;margin-left:auto;margin-right:auto;width:870px; height: 500px;">
    </body>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    </body>
</html>